<!DOCTYPE html>
<html lang="da">
<head>

    <!-- Meta -->
    <meta charset="UTF-8"> <!-- ÆØÅ -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- In case some nerd uses Internet Explorer -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Mobile Responsiveness -->
    <meta name="description" content="Yea ngl I hate life. Let's get it!"> <!-- SEO / Google -->
    <meta name="author" content="Guacamoleboy"> <!-- Author of Website -->

    <!-- Visuals -->
    <title>BeyondBorders</title>

    <!-- Icon -->
    <link rel="icon" href="/images/logos/logo-noText-travlr-red.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/logos/logo-noText-travlr-red.png">

    <!-- CSS Load -->
    <link rel="stylesheet" href="/css/guacamoleboy-wow.css">
    <link rel="stylesheet" href="/css/guacamoleboy-framework.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome-4.7.0.min.css">

    <!-- leaflet Load -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js" defer></script>

    <!-- Map Load -->
    <link rel="stylesheet" href="/css/worldmap.css">
    <script src="/js/worldmap.js" defer></script>

    <!-- Scripts -->
    <script src="/js/guacamoleboy-wow.js" defer></script>
    <script src="/js/blocker.js" defer></script>

</head>
<body>

<!-- Map Start -->
<div id="map"></div>
<!-- Map End -->

<!-- Menu Start -->
<section>
    <div class="guac-container">
        <div class="guac-row">

            <!-- Left navbar Start -->
            <nav class="guac-navbar-bottom guac-navbar-bottom-left">
                <a href="#" id="settingsButton"><i class="fa fa-cog"></i></a>
            </nav>
            <!-- Left navbar End -->

            <!-- Wish Mode navbar Start -->
            <nav class="guac-navbar-bottom guac-navbar-bottom-wish" id="wishButton">
                <div class="guac-navbar-bottom-wish-inner">
                    <span class="wish-text">Visited</span>

                    <div class="wish-dropdown" id="wishDropdown">
                        <div class="wish-option selected" data-mode="V">Visited</div>
                        <div class="wish-option" data-mode="BL">Bucket List</div>
                    </div>
                </div>
            </nav>
            <!-- Wish Mode navbar End -->

            <!-- Center navbar Start -->
            <nav class="guac-navbar-bottom">
                <a href="#"><i class="fa fa-user"></i></a>
                <a href="#"><i class="fa fa-envelope"></i></a>
                <a href="#"><i class="fa fa-star"></i></a>
                <a href="#"><i class="fa fa-pencil"></i></a>
                <a href="#"><i class="fa fa-users"></i></a>
            </nav>
            <!-- Center navbar End -->

            <!-- Right navbar Start -->
            <nav class="guac-navbar-bottom guac-navbar-bottom-right">
                <a href="#" id="pinButton"><i class="fa fa-map-marker"></i></a>
                <a href="#" id="eraserButton"><i class="fa fa-trash"></i></a>
            </nav>
            <!-- Right navbar End -->

        </div>
    </div>
</section>
<!-- Menu End -->

<!-- Notifications Start -->
<section>
    <div id="guac-notification-container"></div>
</section>
<!-- Notifications End -->

</body>
</html>